<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>My Chess App</title>
</head>

<body>

    {{{body}}}
    <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-primary active" aria-pressed="true">Button</button>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>