{{!-- <div>{{conteudo}}</div> --}}
<div id="sobre">
    <h1>O Jogo de Xadrez</h1>

    <img src="/img/chess-pieces.png" alt="" srcset="">

    <p>O xadrez é um jogo de tabuleiro, de caráter competitivo, disputado entre dois participantes. Cada um é
        representado
        por peças de cores opostas, geralmente são utilizadas pretas e brancas. O objetivo do jogo é conquistar
        o “rei” de
        seu adversário.</p>

    <p>Para jogar é necessário um tabuleiro composto por oito colunas e oito linhas, o que resulta em 64 casas
        possíveis
        para a mobilidade das peças. As peças são compostas de oito peões, duas torres, dois cavalos, dois
        bispos, uma
        rainha e um rei.</p>

    <p>Cada peça tem sua particularidade no modo de movimentar-se sobre o tabuleiro. Ao peão, são apenas
        permitidos
        movimentos frontais, de modo que o primeiro movimento de cada peão pode abranger duas casas, os outros
        movimentos se
        restringem a uma casa à frente. Embora se movimente para frente, o ataque do peão sempre ocorre na
        diagonal. A torre
        pode correr, sem restrições de número de casas, para frente/trás/direita/esquerda. O cavalo realiza
        movimentos em
        “L” (duas casas em um sentido e uma casa em sentido perpendicular àquele), para qualquer direção. O
        movimento do
        bispo ocorre, assim como no caso das torres, sem limitação de casas, porém apenas no sentido diagonal. A
        rainha tem
        livre movimentação no jogo. O rei pode apenas ser movimentado de casa em casa, ainda que em qualquer
        direção do
        tabuleiro.</p>

    <p>A movimentação das peças, por parte dos jogadores, é feita a partir de estratégia bastante pensada. É por
        isso que
        se costuma usar o xadrez como analogia para quaisquer outras ações de estratégias, como as ações
        políticas, por
        exemplo.</p>

</div>